/build/
/.dart_tool/

/.idea/
/.idea/libraries/Dart_SDK.xml
/.idea/libraries/Flutter_Plugins.xml
/.idea/libraries/KotlinJavaRuntime.xml
/.idea/runConfigurations/main_dart.xml
/.idea/azz_medical_web.iml
/.idea/azz_medical_web.xml
/.idea/vcs.xml
.flutter-plugins-dependencies
linux/flutter/ephemeral/.plugin_symlinks/emoji_picker_flutter
macos/Flutter/ephemeral/flutter_export_environment.sh
macos/Flutter/ephemeral/Flutter-Generated.xcconfig
linux/flutter/generated_plugins.cmake
ios/Pods
macos/Flutter/ephemeral/flutter_export_environment.sh
macos/Flutter/ephemeral/Flutter-Generated.xcconfig
linux/flutter/generated_plugins.cmake
linux/flutter/generated_plugin_registrant.h
linux/flutter/generated_plugin_registrant.cc
linux/flutter/ephemeral/.plugin_symlinks/emoji_picker_flutter
macos/Flutter/GeneratedPluginRegistrant.swift
.flutter-plugins-dependencies
.idea/workspace.xml
.idea/libraries/Flutter_Plugins.xml
.flutter-plugins-dependencies

# FVM Version Cache
.fvm/	
